name: CD workflow

on:
  push:
    branches:
      - master

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "${{secrets.CLOUD_SECRET}}" > ~/.ssh/id_rsa_cloud
          sudo chmod 600 ~/.ssh/id_rsa_cloud

      - name: Git config
        run: |
          git config --global user.email "ismaelparejaramz@gmail.com"
          git config --global user.name "ime04"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy
        run: npm run deploy --r https://git.drupalcode.org/project/LemonCodeModulo07Cloud.git
